backports.tarfile==1.2.0
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
concurrent-log-handler==0.9.25
docutils==0.21.2
Flask==3.0.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
idna==3.8
importlib_metadata==8.4.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.0.2
Jinja2==3.1.4
keyring==25.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
more-itertools==10.5.0
mypy==1.11.2
mypy-extensions==1.0.0
nh3==0.2.18
pkginfo==1.10.0
portalocker==2.10.1
Pygments==2.18.0
readme_renderer==44.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.8.1
SQLAlchemy==2.0.34
tomli==2.0.1
twine==5.1.1
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.4
WTForms==3.1.2
XlsxWriter==3.2.0
zipp==3.20.1
